.container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn {
    transition: background-color 0.3s, color 0.3s, stroke 0.3s;
    padding: 0.375em 1rem;
    display: inline-block;
    border: 1px solid transparent;
    background-color: var(--surface-1);
    text-decoration: none;
    color: inherit;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--surface-3);
}

.btn-sm {
    padding: 0.25rem 0.75rem;
    font-size: 0.85rem;
}

.btn-lg {
    padding: 0.375rem 1.5rem;
    font-size: 1.25rem;
}

.btn-outline {
    border-color: var(--surface-5);
    background-color: transparent;
}

.btn-outline:hover {
    background-color: var(--surface-2);
}

.btn-primary {
    background-color: var(--accent);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--accent-dark);
}

.btn-outline-primary {
    color: var(--accent);
    border-color: var(--accent-dark);
    background-color: transparent;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--accent-dark);
}

.bg-body {
    background-color: var(--body-bg);
}

.bg-black {
    background-color: hsl(0, 0%, 15%);
}

.bg-dark {
    background-color: var(--bg-dark);
}

.bg-white {
    background-color: #fff;
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-black,
.bg-dark {
    --text-1: var(--text-white);
    color: var(--text-light);
}

.bg-white,
.bg-light {
    --text-1: var(--text-black);
    color: var(--text-dark);
}

.bg-primary {
    background-color: var(--accent);
    --text-1: var(--text-white);
    color: var(--text-white);
}

.bg-surface {
    background-color: var(--surface);
}

.bg-surface-1 {
    background-color: var(--surface-1);
}

.bg-surface-2 {
    background-color: var(--surface-2);
}

.bg-surface-3 {
    background-color: var(--surface-3);
}

.bg-surface-4 {
    background-color: var(--surface-4);
}

.bg-surface-5 {
    background-color: var(--surface-5);
}

.bg-none {
    background: none;
}

.text-primary {
    color: var(--accent);
}

.text-white {
    color: var(--text-white);
}

.text-light {
    color: var(--text-light);
}

.text-scondary {
    color: var(--text-3);
}

.text-dark {
    color: var(--text-dark);
}

.text-black {
    color: var(--text-black);
}

.border {
    border: 1px solid var(--surface-4);
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.rounded {
    border-radius: 0.375rem;
}

.rounded-lg {
    border-radius: 1rem;
}

.rounded-pill {
    border-radius: 50rem;
}

.rounded-circle {
    border-radius: 50%;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.input-group,
.d-flex {
    display: flex;
}

.d-inline-flex {
    max-width: 100%;
    display: inline-flex;
}

.d-none,
.no-items,
.blog-admin,
.d-sm-block,
.d-md-block,
.d-lg-block,
.d-block-check,
[data-hide],
:checked~.d-none-check {
    display: none;
}

.d-block,
[data-show],
:checked~.d-block-check {
    display: block;
}

.visually-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.display-1 {
    font-size: var(--display-1);
}

.display-2 {
    font-size: var(--display-2);
}

.display-3 {
    font-size: var(--display-3);
}

.display-4 {
    font-size: var(--display-4);
}

.fs-1 {
    font-size: var(--fs-1);
}

.fs-2 {
    font-size: var(--fs-2);
}

.fs-3 {
    font-size: var(--fs-3);
}

.fs-4 {
    font-size: var(--fs-4);
}

.fs-5 {
    font-size: 1.25rem;
}

.fs-base {
    font-size: 1.1rem;
}

.fs-6 {
    font-size: 1rem;
}

.fs-7 {
    font-size: 0.85rem;
}

.fs-8 {
    font-size: 0.75rem;
}

.fw-lighter {
    font-weight: 100;
}

.fw-light {
    font-weight: 300;
}

.fw-bold {
    font-weight: 700;
}

.fw-bolder {
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.text-underline {
    text-decoration-color: var(--accent);
    text-decoration-line: underline;
}

.text-end {
    text-align: end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.self-stretch {
    align-self: stretch;
}

.self-center {
    align-self: center;
}

.ratio,
.relative {
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.row>* {
    width: 100%;
    flex-shrink: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.w-100,
.col-12 {
    width: 100%;
}

.mw-100 {
    max-width: 100%;
}

.mw-none {
    max-width: none;
}

.h-100 {
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

.ratio {
    overflow: hidden;
    width: 100%;
    height: 0;
}

.ratio>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ratio-1x1 {
    padding-bottom: 100%;
}

.ratio-4x3 {
    padding-bottom: 75%;
}

.ratio-16x9 {
    padding-bottom: 56.25%;
}

.ratio-21x9 {
    padding-bottom: 43%;
}

.p-1,
.py-1,
.pt-1 {
    padding-top: 0.25rem;
}

.p-2,
.py-2,
.pt-2 {
    padding-top: 0.5rem;
}

.p-3,
.py-3,
.pt-3 {
    padding-top: 1rem;
}

.p-4,
.py-4,
.pt-4 {
    padding-top: 1.5rem;
}

.p-5,
.py-5,
.pt-5 {
    padding-top: 3rem;
}

.p-6,
.py-6,
.pt-6 {
    padding-top: 4.5rem;
}

.p-7,
.py-7,
.pt-7 {
    padding-top: 6rem;
}

.p-8,
.py-8,
.pt-8 {
    padding-top: 7.5rem;
}

.p-0,
.py-0,
.pt-0 {
    padding-top: 0;
}

.p-1,
.px-1,
.pe-1 {
    padding-inline-end: 0.25rem;
}

.p-2,
.px-2,
.pe-2 {
    padding-inline-end: 0.5rem;
}

.p-3,
.px-3,
.pe-3 {
    padding-inline-end: 1rem;
}

.p-4,
.px-4,
.pe-4 {
    padding-inline-end: 1.5rem;
}

.p-5,
.px-5,
.pe-5 {
    padding-inline-end: 3rem;
}

.p-6,
.px-6,
.pe-6 {
    padding-inline-end: 4.5rem;
}

.p-7,
.px-7,
.pe-7 {
    padding-inline-end: 6rem;
}

.p-8,
.px-8,
.pe-8 {
    padding-inline-end: 7.5rem;
}

.p-0,
.px-0,
.pe-0 {
    padding-inline-end: 0;
}

.p-1,
.py-1,
.pb-1 {
    padding-bottom: 0.25rem;
}

.p-2,
.py-2,
.pb-2 {
    padding-bottom: 0.5rem;
}

.p-3,
.py-3,
.pb-3 {
    padding-bottom: 1rem;
}

.p-4,
.py-4,
.pb-4 {
    padding-bottom: 1.5rem;
}

.p-5,
.py-5,
.pb-5 {
    padding-bottom: 3rem;
}

.p-6,
.py-6,
.pb-6 {
    padding-bottom: 4.5rem;
}

.p-7,
.py-7,
.pb-7 {
    padding-bottom: 6rem;
}

.p-8,
.py-8,
.pb-8 {
    padding-bottom: 7.5rem;
}

.p-0,
.py-0,
.pb-0 {
    padding-bottom: 0;
}

.p-1,
.px-1,
.ps-1 {
    padding-inline-start: 0.25rem;
}

.p-2,
.px-2,
.ps-2 {
    padding-inline-start: 0.5rem;
}

.p-3,
.px-3,
.ps-3 {
    padding-inline-start: 1rem;
}

.p-4,
.px-4,
.ps-4 {
    padding-inline-start: 1.5rem;
}

.p-5,
.px-5,
.ps-5 {
    padding-inline-start: 3rem;
}

.p-6,
.px-6,
.ps-6 {
    padding-inline-start: 4.5rem;
}

.p-7,
.px-7,
.ps-7 {
    padding-inline-start: 6rem;
}

.p-8,
.px-8,
.ps-8 {
    padding-inline-start: 7.5rem;
}

.p-0,
.px-0,
.ps-0 {
    padding-inline-start: 0;
}

.m-1,
.my-1,
.mb-1,
.sb-1>* {
    margin-bottom: 0.25rem;
}

.m-2,
.my-2,
.mb-2,
.sb-2>* {
    margin-bottom: 0.5rem;
}

.m-3,
.my-3,
.mb-3,
.sb-3>* {
    margin-bottom: 1rem;
}

.m-4,
.my-4,
.mb-4,
.sb-4>* {
    margin-bottom: 1.5rem;
}

.m-5,
.my-5,
.mb-5,
.sb-5>* {
    margin-bottom: 3rem;
}

.m-6,
.my-6,
.mb-6 {
    margin-bottom: 4.5rem;
}

.m-7,
.my-7,
.mb-7 {
    margin-bottom: 6rem;
}

.m-8,
.my-8,
.mb-8 {
    margin-bottom: 7.5rem;
}

.m-auto,
.my-auto,
.mb-auto {
    margin-bottom: auto;
}

.m-1,
.mx-1,
.me-1,
.se-1>* {
    margin-inline-end: 0.25rem;
}

.m-2,
.mx-2,
.me-2,
.se-2>* {
    margin-inline-end: 0.5rem;
}

.m-3,
.mx-3,
.me-3,
.se-3>* {
    margin-inline-end: 1rem;
}

.m-4,
.mx-4,
.me-4,
.se-4>* {
    margin-inline-end: 1.5rem;
}

.m-5,
.mx-5,
.me-5,
.se-5>* {
    margin-inline-end: 3rem;
}

.m-6,
.mx-6,
.me-6 {
    margin-inline-end: 4.5rem;
}

.m-7,
.mx-7,
.me-7 {
    margin-inline-end: 6rem;
}

.m-8,
.mx-8,
.me-8 {
    margin-inline-end: 7.5rem;
}

.m-auto,
.mx-auto,
.me-auto {
    margin-inline-end: auto;
}

.m-1,
.mx-1,
.ms-1,
.sx-1>*+* {
    margin-inline-start: 0.25rem;
}

.m-2,
.mx-2,
.ms-2,
.sx-2>*+* {
    margin-inline-start: 0.5rem;
}

.m-3,
.mx-3,
.ms-3,
.sx-3>*+* {
    margin-inline-start: 1rem;
}

.m-4,
.mx-4,
.ms-4,
.sx-4>*+* {
    margin-inline-start: 1.5rem;
}

.m-5,
.mx-5,
.ms-5,
.sx-5>*+* {
    margin-inline-start: 3rem;
}

.m-6,
.mx-6,
.ms-6 {
    margin-inline-start: 4.5rem;
}

.m-7,
.mx-7,
.ms-7 {
    margin-inline-start: 6rem;
}

.m-8,
.mx-8,
.ms-8 {
    margin-inline-start: 7.5rem;
}

.m-auto,
.mx-auto,
.ms-auto {
    margin-inline-start: auto;
}

.m-1,
.my-1,
.mt-1,
.sy-1>*+* {
    margin-top: 0.25rem;
}

.m-2,
.my-2,
.mt-2,
.sy-2>*+* {
    margin-top: 0.5rem;
}

.m-3,
.my-3,
.mt-3,
.sy-3>*+* {
    margin-top: 1rem;
}

.m-4,
.my-4,
.mt-4,
.sy-4>*+* {
    margin-top: 1.5rem;
}

.m-5,
.my-5,
.mt-5,
.sy-5>*+* {
    margin-top: 3rem;
}

.m-6,
.my-6,
.mt-6 {
    margin-top: 4.5rem;
}

.m-7,
.my-7,
.mt-7 {
    margin-top: 6rem;
}

.m-8,
.my-8,
.mt-8 {
    margin-top: 7.5rem;
}

.m-auto,
.my-auto,
.mt-auto {
    margin-top: auto;
}

.shadow {
    box-shadow: var(--shadow);
}

.icon {
    display: inline-block;
    height: 1em;
    vertical-align: -0.15em;
    width: 1em;
    stroke-width: 1.5;
}

.icon-center {
    display: inline-block;
    font-family: sans-serif;
    min-width: 2.25rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.truncate,
.truncate-all>* {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-inline>* {
    display: inline;
}

.arrow-s::before,
.arrow-e::before {
    content: "";
    border-bottom: 1px solid currentColor;
    height: 0.5rem;
    display: inline-block;
    vertical-align: 0.1em;
    width: 0.5rem;
}

.arrow-s::before {
    border-inline-start: 1px solid currentColor;
}

.arrow-e::before {
    border-inline-end: 1px solid currentColor;
}

.arrow-s::before,
[dir="rtl"] .arrow-e::before {
    transform: rotate(45deg);
}

.arrow-e::before,
[dir="rtl"] .arrow-s::before {
    transform: rotate(-45deg);
}

.input-group> :first-child {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
}

.input-group> :last-child {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
}

.img-animate img {
    transition: transform 1s, opacity 1s, filter 1s;
}

.img-animate:hover img {
    transform: scale(1.05);
}

@media (min-width: 35.5em) {
    .container {
        max-width: 35.5em;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-none {
        display: none;
    }

    .col-sm-6 {
        width: 50%;
    }

    .ratio-sm-4x3 {
        padding-bottom: 75%;
    }

    .ratio-sm-16x9 {
        padding-bottom: 56.25%;
    }

    .ps-sm-3 {
        padding-inline-start: 1rem;
    }

    .pe-sm-3 {
        padding-inline-end: 1rem;
    }
}

@media (min-width: 48em) {
    .container {
        max-width: 48em;
    }

    .fs-md-4 {
        font-size: var(--fs-4);
    }

    .fs-md-5 {
        font-size: 1.25rem;
    }

    .fs-md-base {
        font-size: 1.1rem;
    }

    .fs-md-6 {
        font-size: 1rem;
    }

    .fs-md-7 {
        font-size: 0.85rem;
    }

    .d-md-block {
        display: block;
    }

    .d-md-flex {
        display: flex;
    }

    .d-md-none {
        display: none;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.3333333333%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }
}

@media (min-width: 64em) {
    :root {
        --display-1: 5rem;
        --display-2: 4.5rem;
        --display-3: 4rem;
        --display-4: 3.5rem;
        --fs-1: 2.5rem;
        --fs-2: 2rem;
        --fs-3: 1.75rem;
        --fs-4: 1.5rem;
    }

    .container {
        max-width: 64em;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-flex {
        display: flex;
    }

    .d-lg-none {
        display: none;
    }

    .px-lg-5,
    .ps-lg-5 {
        padding-inline-start: 3rem;
    }

    .px-lg-5,
    .pe-lg-5 {
        padding-inline-end: 3rem;
    }

    .order-lg-1 {
        order: 1;
    }

    .col-lg-2 {
        width: 20%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.3333333333%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }
}

@media (min-width: 80em) {
    .container {
        max-width: 80em;
    }

    .d-xl-flex {
        display: flex;
    }

    .px-xl-5,
    .ps-xl-5 {
        padding-inline-start: 3rem;
    }

    .px-xl-5,
    .pe-xl-5 {
        padding-inline-end: 3rem;
    }

    .col-xl-2 {
        width: 20%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.3333333333%;
    }
}

@media (min-width: 90em) {
    .container {
        max-width: 90rem;
    }
}